*.acr
*.acn
*.alg
*.aux
*.auxlock
*.bbl
*.bcf
*.blg
*.dvi
*-ext.pdf
*-ext.synctex
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.len
*.listing
*.loa
*.lof
*.log
*.lol
*.lot
*.nav
*.out
*.out.ps
*.ps
*.run.xml
*.slg
*.slo
*.sls
*.snm
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.tdo
*.toc
*.tps
*.xmpdata
*.xmpi
/iatsadamaketikz.list
/sada_tudreport.pdf
/sada_tudreport-tmp.tex
/maketikz-tex.log
/texput.log
/tikzGenerator.run.xml
/*.tikz
/force